body {
  background: #14161b;
  color: #e7e9ee;
  font-family: sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}
.container{
  background:#1f212a;
  padding:2rem;
  border-radius:12px;
  width:90%;
  max-width:500px;
}
input, select, button {
  display:block;
  margin:0.5rem 0;
  width:100%;
  padding:0.5rem;
  border-radius:8px;
  border:none;
}
button{
  background:#6c63ff;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}
button:hover{
  background:#847dff;
}
#short-url-link{
  color:#6c63ff;
  font-weight:bold;
  margin-right:0.5rem;
}
