<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortlinks.art</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="container">
            <a href="/" class="logo">Shortlinks.art</a>
            <ul>
                <li><a href="/">🏠 Home</a></li>
                <li><a href="/about">ℹ️ About</a></li>
                <li><a href="/dashboard">🗂️ My Links</a></li>
            </ul>
            </nav>
    </header>
    
    <main class="container">
